In [1]:
import numpy as np
import pandas as pd

## Weather Data Preprocessing
For feature documentation refer to 'GHCND_documentation.pdf'

In [27]:
weather2019 = pd.read_csv('raw_data/airport_weather_2019.csv')
weather2020 = pd.read_csv('raw_data/airport_weather_2020.csv')

In [28]:
weather2019.head(2)

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT08,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Selecting only the relevant features

In [30]:
weather2019 = weather2019[['NAME', 'DATE', 'AWND', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX']]
weather2019

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX
0,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,0.14,0.0,0.0,64.0,66.0
1,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,0.57,0.0,0.0,56.0,59.0
2,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,0.15,0.0,0.0,52.0,55.0
3,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,1.44,0.0,0.0,56.0,66.0
4,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,0.00,0.0,0.0,49.0,59.0
...,...,...,...,...,...,...,...,...
38670,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-27,6.04,0.00,NaN,NaN,68.0,80.0
38671,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-28,5.37,0.06,NaN,NaN,69.0,74.0
38672,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-29,7.61,0.10,NaN,NaN,70.0,74.0
38673,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-30,5.82,0.02,NaN,NaN,68.0,72.0
38674,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-31,3.58,0.00,NaN,NaN,51.0,64.0

In [32]:
weather2020.head(2)

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX
0,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-01,2.91,0.0,0.0,0.0,48.0,60.0
1,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-02,2.68,0.0,0.0,0.0,48.0,56.0

In [31]:
weather2020 = weather2020[['NAME', 'DATE', 'AWND', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX']]
weather2020

,NAME,DATE,AWND,PRCP,SNOW,SNWD,TAVG,TMAX
0,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-01,2.91,0.00,0.0,0.0,48.0,60.0
1,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-02,2.68,0.00,0.0,0.0,48.0,56.0
2,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-03,3.80,0.00,0.0,0.0,49.0,67.0
3,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-04,5.82,0.00,0.0,0.0,53.0,65.0
4,"FRESNO YOSEMITE INTERNATIONAL, CA US",2020-01-05,6.49,0.00,0.0,0.0,49.0,59.0
...,...,...,...,...,...,...,...,...
7546,"PITTSBURGH ALLEGHENY CO AIRPORT, PA US",2020-03-27,3.58,0.21,NaN,NaN,NaN,59.0
7547,"PITTSBURGH ALLEGHENY CO AIRPORT, PA US",2020-03-28,6.93,1.29,NaN,NaN,NaN,77.0
7548,"PITTSBURGH ALLEGHENY CO AIRPORT, PA US",2020-03-29,16.55,0.02,NaN,NaN,NaN,78.0
7549,"PITTSBURGH ALLEGHENY CO AIRPORT, PA US",2020-03-30,13.42,0.00,NaN,NaN,NaN,57.0
7550,"PITTSBURGH ALLEGHENY CO AIRPORT, PA US",2020-03-31,3.80,0.06,NaN,NaN,NaN,47.0